/* .asd{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.footer {
    /* display: flex; */
    display: grid;
    grid-template:
        '...logo contents1 ...' 1fr /1fr 160px 600px 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 40px;
    background-color: #fff;
    border-top: 1px solid #eee;
    margin-bottom: 0;
    margin-left: 0;
  }
  
  .logoSection {
    grid-area: logo;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .adoptionText {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: #333;
  }
  
  .separator {
    grid-area: contents1;
    width: 5px;
    height: 180px;
    background-color: #f2856b;
    margin-top: 2px;
    margin-left: -10px;
    margin-right: 40px;
  }
  
  .infoSection {
    grid-area: contents1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 8px;
    flex: 1;
  }
  
  .infoText {
    margin: 0;
    line-height: 2.5;
    color: #666;
    font-family: sans-serif;
    font-weight: bold;
  }
  
    
  .infoText a{
    margin-left: 5px;
    color: #666;
    font-family: sans-serif;
    font-weight: bold;
  }

  .highlight {
    color: #f2856b;
    font-weight: bold;
    opacity: 0.5;
  }
  
  .copyright {
    margin-top: 10px;
    font-weight: bold;
    color: #999;
  }
  

  @media (max-width: 760px) {
    .footer{
        display: grid;
        grid-template:       
        'logo contents1' 1fr / 160px 350px;

    }
}