.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: background-color 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  
  .retriever {
    width: 100vw;
    height: 100vh;
    background-image: url("./section1_IMG/mainpage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grating {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .gratingImage {
    width: 100px;
    height: 100vh;
    object-fit: cover;
  }
  
  .mainText1, .mainText2 {
    position: absolute; 
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0; /* 기본 상태에서 숨김 */
  }
  
  .mainText1 h1, .mainText2 h1 {
    font-size: 2rem;
    color: white;
  }
  
  .scrollText {
    position: fixed; /* 화면에 고정 */
    bottom: 30px; /* 화면 하단에서 30px 위 */
    left: 50%; /* 화면 가로 가운데 정렬 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 위치 조정 */
    text-align: center;
    font-size: 18px;
    color: white;
    display: flex; /* Scroll 텍스트와 아이콘을 세로로 배치 */
    flex-direction: column; /* 세로로 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
  }
  
  .scrollText p {
    margin: 0;
    padding: 0;
  }
  