.Box{
     display: grid;
     grid-template:
        '... contents ...' 550px / 1fr 607px 1fr;
    margin-bottom: 80px;
    margin-top: 30px;
}

.loginBox{
  height: 200px; /* 컨텐츠에 맞게 높이를 자동으로 조정 */
  border: 4px solid var(--line-color);
  border-radius: 10px;
  margin-top: 74px;
  padding-top: 74px;
  display: grid;
  align-items: center; /* 가운데 정렬 */
  position: relative; /* 밑줄을 절대 위치로 배치하려면 parent 요소에 relative 설정 필요 */
  padding-bottom: 24px;
}

.btn1 {
    margin-bottom: 12px;
}