.JoinContentsContainer{
    display: grid;
    grid-template:
       '... title ...'100px
       '... subTitle ...' 100px
       '... contents1 ...' 1fr/ 1fr 607px 1fr;
    margin-top : 50px;
    padding: 20px;
    width: 100%;
    margin-bottom: 50px;
}
.title{
    grid-area: title;
}

.subTitle{
    grid-area: subTitle;
}
.form1 {
    padding: 20px;
    grid-area: contents1;
}

.form2{
    display : grid;
    grid-template :
  'inp1 btn1' 100px
  'text text' 1fr/ 490px 100px;
}

.from3{
    display : grid;
    grid-template :
    'inp2 btn2' 100px
    'text2 text2' 1fr/ 490px 100px;
}
.div2{
    display : flex;
  border : 4px solid var(--line-color);
  border-radius : 10px;
}

.checkboxWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}