.LoginContainer {
    display: grid;
    grid-template:
       '... contents1 ...' 150px
       '... contents2 ...' 1fr / 1fr 607px 1fr;
    width: 100%;
    height: 700px;
    margin-bottom: 60px;
    margin-top: 20px;
}

.LoginBox{
    grid-area: contents2;
    height: 400px; /* 컨텐츠에 맞게 높이를 자동으로 조정 */
    border: 4px solid var(--line-color);
    border-radius: 10px;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
    position: relative; /* 밑줄을 절대 위치로 배치하려면 parent 요소에 relative 설정 필요 */
    padding-bottom: 24px; /* 박스 하단에 여백 추가 */
}

.hText{
    grid-area: contents1;
    margin-top : 30px;
    color : var(--main-color);
    font-size : 64px;
    font-weight : bold;
    text-align : center;
}

.form1{
    margin : 0;
    padding : 0;
}

.a1Box{
    display: flex;
    justify-content: flex-end;
    width: 100%; /* 부모의 너비에 맞춰서 확장 */
    margin-bottom: 20px; /* 링크들 사이 간격 추가 */
    padding-right : 40px;
}

.a1{
    color: #aaa; /* 검은색 계열 색상 (어두운 회색) */
}

.a1:hover {
    color : #666;
}



