.gridFormContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);

  gap: 5px;

  padding-top: 16px;
}

.gridFormContainer > * {
  border: none;
  outline: none;
  padding: 16px;
  justify-content: center;
  align-items: center;

  background-color: gainsboro;
}

textArea {
  resize: none;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 16px;
}
