/* 드롭다운 컨테이너 */
.dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
    min-width: 200px;
  }
  
  /* 드롭다운 버튼 */
  .dropdownButton {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--line-color);
    border-radius: 10px;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
  }
  
  /* 드롭다운 리스트 */
  .dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid var(--line-color);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 999999999;
    display: none; 
  }
  
  /* 호버시 리스트 보임 */
  .dropdown:hover .dropdownList {
    display: block; 
  }
  
  /* 드롭다운 항목 */
  .dropdownItem {
    padding: 10px;
    cursor: pointer;
  }
  
  /* 드롭다운 리스트 커서 댈때 보이는 백컬러 */
  .dropdownItem:hover {
    background-color: var(--line-color);
  }
  
  /* 옵션 없음 표시 */
  .noOptions {
    padding: 10px;
    text-align: center;
    color: var(--line-color);
  }
  