
.centint_all {
    height: 5000px;
    padding-top: 60px;
}
.centint_header {
    position: sticky;  /* 페이지 스크롤 시 고정 */
    top: 0;           /* 상단에 고정 */
    left: 0;
    width: 100%;      /* 화면 너비에 맞게 확장 */   /* 다른 요소들 위에 보이도록 설정 */
    padding: 10px 0;
    grid-area : ctheader;
    
}

.centint_footer {
    grid-area : ctfooter;
}

.centint_container {
    display: grid;
    grid-template :
    'ctheader' 220px
    'ctsc1' 900px
    'ctsc2' 1000px
    'ctsc3' 900px
    'ctsc4' 2400px
    'ctsc5' 900px
    'ctsc6' 1000px
    'ctfooter' 254px / 1440px ;
}

.moving-circle1 { position: relative; width: 100px; height: 100px; background-color: var(--sub-color); /* 연한 빨간색 시작 */ border-radius: 50%; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: background-color 1s, width 1s, height 1s}
.centint_line {
    grid-area: cenintd;
}

.centint_highlight {
    color : var(--main-color);
}

.centint_blacktextshadow {
    /* text-shadow: 1px 1px 2px #232323; */
    font-weight: bolder;
    color: #444;
}

/* .centint_graytextshadow {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.10);
} */
.centint_big_text {
    text-align: center; 
    color: var(--title-black); 
    font-size: 48px; 
    font-family: var(--main-font); 
    font-weight: 700;
}

.centint_medium_text {
    color: var(--title-black); 
    font-size: 40px; 
    font-family: var(--main-font);
    font-weight: 700;
    width: 100%;
}

.centint_medium_graytext {
    /* color: rgba(0, 0, 0, 0.50);  */
    color: var(--main-color);
    font-size: 23px;
    font-family: var(--main-font); 
    font-weight: 600;
}

.centint_small_text {
    width: 100%;
    height: 100%;
    color: var(--title-black);
    font-size: 30px;
    font-family: var(--main-font);
    font-weight: 700;
}


.centint_screen1, .centint_screen3, .centint_screen5 {
    display: grid;
    z-index: 400;
    grid-template:
        '... ... ...' 300px
        '... sc135text ...' 200px
        '... ... ...' 300px/ 1fr 6fr 1fr;
      
}

.centint_screen1 {
    grid-area : ctsc1;
}

.centint_screen3 {
    grid-area: ctsc3;
}

.centint_screen5 {
    grid-area : ctsc5;
}


.centint_sc1_text, .centint_sc3_text, .centint_sc5_text {
    grid-area: sc135text;
    text-align: center;
 
}

.centint_screen2 {
    display: grid;
    grid-area: ctsc2;
    grid-template: 
        '... ... ...' 150px
        '... centintscr26 ...' 600px
        '... ... ...' 150px/ 40px 6fr 40px;
      
}

.centint_sc2_contents {
    grid-area: centintscr26;
    display: grid;
    grid-template: 
    'centintimg1 ... sc2text1'1fr
    'centintimg1 ... sc2text2'1fr/1fr 40px 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: start;
 
}

.centint_sr2_text1 {
    grid-area: sc2text1;
    text-align: start;
    width: 100%;


}
.centint_sr2_text2 {
    grid-area: sc2text2;
    text-align: start;
    /* 이 글씨체만 align : start가 적용되도록 설정 */
    align-self: start; 
    width: 100%;

}


/* .centint_img1::after {
    filter: blur(10px);
    border-radius: 10px;
    z-index: -1;
} */

.centint_sc4_screen {

    display: grid;
    grid-template-rows:   400px 400px 800px 400px 400px ;
    grid-template-columns: 1fr 600px 1fr 600px 1fr;
    width: 100%;
    height: 100vh;
    position: sticky;
    grid-area : ctsc4;

 
}

.centint_sc41_contents{
    grid-row: 2 / 4;
    grid-column: 4 / 5;
    display: grid; 
    grid-template-rows: 200px 200px 600px;
    grid-template-columns: 1fr ; 
    width: 100%;
    height: 700px;
    /* align-self: end; */
  
}
.centint_sc41_text1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: start;
    align-self: center;
    justify-self: end;
    display: grid;

}

.centint_sr41_text2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    text-align: start;
    width: 100%;
    height: 600px;
    display: grid;
}


.centint_sr42_contents {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
    text-align: start;
    align-self: center;
    justify-self: end;
    display: grid;
    grid-template-rows: 200px 200px 600px;
    grid-template-columns: 1fr ; 
    gap: 40px; 
    width: 700px;

}

/* 
.centint_sr42_text2 {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    text-align: start;

    width: 100%;
} */

.centint_screen6 {
    display: grid;
    grid-area: centintscr26;
    grid-template: 
    '... ... ... ... ...' 20px
    '... ... sc6title ... ....' 200px
    '... ... ... ... ...'20px
    '... sc6texts ... centintimg4 ...' 600px
    ' ... ... ... ... ...' 200px / 40px 1fr 200px 1fr 40px;
    width: 100%;
    grid-area : ctsc6;
}
.centint_sc6_title {
    grid-area: sc6title;
    
}
.centint_sc6_texts {
    display: grid;
    grid-area: sc6texts;
    grid-template: 
    ' ... sc6textad'1fr
    '... ...' 20px
    '... sc6textnum' 1fr
    '... ...' 20px
    '... sc6textemail' 1fr
    '... ...' / 50px 400px;
    justify-self: end;
    width: 450px;
}

.centint_sc6_text1_ad {
    display: grid;
    grid-area: sc6textad;
    grid-template: 
        'sc6textad1'1fr
        '...'10px
        'sc6textad2' 1fr / 1fr;
}

.centint_sc6_text2_num {
    display: grid;
    grid-area: sc6textnum;
    grid-template: 
        'sc6textnum1'1fr
        '...'10px
        'sc6textnum2' 1fr / 1fr;
}

.centint_sc6_text3_email {
    display: grid;
    grid-area: sc6textemail;
    grid-template: 
        'sc6textemail1'1fr
        '...'10px
        'sc6textemail2' 1fr / 1fr;
}

.centint_sc6_text1_ad1 {
    grid-area: sc6textad1;
}

.centint_sc6_text1_ad2 {
    grid-area: sc6textad2;
    font-size: 20px;
}

.centint_sc6_text2_num1 {
    grid-area: sc6textnum1;
}

.centint_sc6_text2_num2 {
    grid-area: sc6textnum2;
    font-size: 20px;
}

.centint_sc6_text3_email1 {
    grid-area: sc6textemail1;
}

.centint_sc6_text3_email2 {
    grid-area: sc6textemail2;
    font-size: 20px;
}

.centint_imgs {
    background-repeat: no-repeat;
    display: grid;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    filter: blur(0.6px);

}
.centint_img1 {
    background-position: center;
    grid-area: centintimg1;
    background-image: url(./centerintro/img/centerintroimg1.svg);
}

.centint_img2 {
    /* background-position: left; */
    background-image: url(./centerintro/img/centerintroimg2.svg);
    background-repeat: no-repeat;
    display: grid;

    width: 550px;
    height: 600px;
}

.centint_img3 {
    background-position: right;
    background-repeat: no-repeat;
    justify-self: start;
    align-self: start;
    width: 550px;
    height: 600px;
    background-image: url(./centerintro/img/centerintroimg3.svg);

}

.centint_img4 {
    grid-area: centintimg4;
    width: 550px;
    height: 600px;
    background-image: url(./centerintro/img/centerintroimg4.svg);

}