
.centint_all {
    height: 5000px;
    padding-top: 60px;
}
.centint_header {
    position: sticky;  /* 페이지 스크롤 시 고정 */
    top: 0;           /* 상단에 고정 */
    left: 0;
    width: 100%;      /* 화면 너비에 맞게 확장 */   /* 다른 요소들 위에 보이도록 설정 */
    padding: 10px 0; 
    
}
.centint_line {
    grid-area: cenintd;
}

.centint_highlight {
    color : var(--main-color);
}

.centint_blacktextshadow {
    /* text-shadow: 1px 1px 2px #232323; */
    font-weight: bolder;
    color: #444;
}

/* .centint_graytextshadow {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.10);
} */
.centint_big_text {
    text-align: center; 
    color: var(--title-black); 
    font-size: 48px; 
    font-family: "Noto Sans KR"; 
    font-weight: 700;
}

.centint_medium_text {
    color: var(--title-black); 
    font-size: 40px; 
    font-family: var(--main-font);
    font-weight: 700;
    width: 100%;
}

.centint_medium_graytext {
    /* color: rgba(0, 0, 0, 0.50);  */
    color: var(--main-color);
    font-size: 23px;
    font-family: var(--main-font); 
    font-weight: 600;
}

.centint_small_text {
    width: 100%;
    height: 100%;
    color: #222222;
    font-size: 30px;
    font-family: var(--main-font);
    font-weight: 700;
}
.centint_screen1, .centint_screen3 {
    display: grid;
    z-index: 400;
    grid-template:
        '... ... ...' 300px
        '... sc13text ...' 200px
        '... ... ...' 300px/ 1fr 6fr 1fr;
      
}

.centint_sc1_text, .centint_sc3_text, .centint_sc5_text {
    grid-area: sc13text;
    text-align: center;
 
}

.centint_screen2 {
    display: grid;
    grid-template: 
        '... ... ...' 150px
        '... centintscr2 ...' 600px
        '... ... ...' 150px/ 40px 6fr 40px;
      
}

.centint_sc2_contents {
    grid-area: centintscr2;
    display: grid;
    grid-template: 
    'centintimg1 ... sc2text1'1fr
    'centintimg1 ... sc2text2'1fr/1fr 40px 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: start;
 
}

.centint_sr2_text1 {
    grid-area: sc2text1;
    text-align: start;
    width: 100%;


}
.centint_sr2_text2 {
    grid-area: sc2text2;
    text-align: start;
    /* 이 글씨체만 align : start가 적용되도록 설정 */
    align-self: start; 
    width: 100%;

}


/* .centint_img1::after {
    filter: blur(10px);
    border-radius: 10px;
    z-index: -1;
} */

.centint_sc4_screen {

    display: grid;
    grid-template-rows:   400px 400px 800px 400px 400px ;
    grid-template-columns: 1fr 600px 1fr 600px 1fr;
    width: 100%;
    height: 100vh;
    position: sticky;

 
}

.centint_sc41_contents{
    grid-row: 2 / 4;
    grid-column: 4 / 5;
    display: grid; 
    grid-template-rows: 200px 200px 600px;
    grid-template-columns: 1fr ; 
    width: 100%;
    height: 700px;
    /* align-self: end; */
  
}
.centint_sc41_text1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: start;
    align-self: center;
    justify-self: end;
    display: grid;

}

.centint_sr41_text2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    text-align: start;
    width: 100%;
    height: 600px;
    display: grid;
}


.centint_sr42_contents {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
    text-align: start;
    align-self: center;
    justify-self: end;
    display: grid;
    grid-template-rows: 200px 200px 600px;
    grid-template-columns: 1fr ; 
    gap: 40px; 
    width: 700px;

}

/* 
.centint_sr42_text2 {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    text-align: start;

    width: 100%;
} */

.centint_imgs {
    background-repeat: no-repeat;
    display: grid;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    filter: blur(0.6px);

}
.centint_img1 {
    background-position: center;
    grid-area: centintimg1;
    background-image: url(./centerintro/img/centerintroimg1.svg);
}

.centint_img2 {
    /* background-position: left; */
    background-image: url(./centerintro/img/centerintroimg2.svg);
    background-repeat: no-repeat;
    display: grid;

    width: 550px;
    height: 600px;
}

.centint_img3 {
    background-position: right;
    background-repeat: no-repeat;
    justify-self: start;
    align-self: start;
    width: 550px;
    height: 600px;
    background-image: url(./centerintro/img/centerintroimg3.svg);

}
