/* 사용할 메인 컬러 설정 */
:root {
   --main-color:#F8755B;
   --sub-color: #FDDCD5;
   --mainpage-dark : #898989;
   --title-black : #444444;
   --title-white : #FFFFFF;
   --line-color : #E5E5E5;

    --main-font: 'Noto Sans', sans-serif;
    --Q-font : 'Judson',sans-serif;
}



/* default CSS  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
	/* content-box */
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}


a {
	text-decoration: none;
	color: #444444;
  }

  a:active {
	color: #444444; /* 클릭 시에도 색상을 검정색으로 유지 */
  }

button {
	border: 0;
	background: transparent;
	cursor: pointer;
}

