/* .community-grid{
    display: grid;
    grid-template:
        'subheader subheader subheader' 120px
        'section section section' 1fr / 1fr 1fr 1fr;
    height: 100vh;
}

@media (max-width: 1024px) {
    .community-grid{
        display: grid;
        grid-template:
        'subheader subheader subheader' 120px
        'section section section' 1fr / 1fr 1fr 1fr;

    
    }
}

@media (max-width: 760px) {
    .community-grid{
        display: grid;
        grid-template:
        'subheader subheader subheader' 120px
        'section section section' 1fr
    }
} */