.section4 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .section4::before,
  .section4::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 3px;
    background-color: #f8755b;
  }
  
  .section4::before {
    top: 5%;
  }
  
  .section4::after {
    bottom: 5%;
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .titles {
    position: absolute; /* 절대 위치로 변경 */
    top: 10%; /* 원하는 위치로 조정 */
    left: 50%;
    transform: translateX(-50%); /* 수평 중앙 정렬 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    z-index: 10; /* 다른 요소들보다 앞에 배치 */
  }
  
  
  .titles h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .sliderWrapper {
    position: relative;
    top: 50px;
    width: 95%;
    height: 100%; /* 부모 요소의 크기를 100%로 설정 */
  }
  
  /* Asd의 스타일 수정 */
  .Asd {
    transform: translate(-50%, -50%); /* 수평 중앙 정렬, 수직 중앙 정렬 */
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 20px;
}

.centerbg {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-20%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1; /* 배경 이미지가 뒤로 가도록 설정 */
  /* object-fit: contain; */
  border-radius: 20px;
}

  
span{
  display: flex;
  width: 100%;
  height: 100%;
}
    
@media (max-width: 768px) {
  .section4::after {
    bottom: 1%;
  }
}