/* MainHeader.module.css */
.headerGroup {
  padding: 0px 20px;
  background-color: #fff;
  
}
.header {
  display: grid;
  grid-template-columns: 2fr 4fr 1.5fr 1fr; 
  align-items: center;
  justify-items: center;
  white-space: nowrap;
  
}

.navbar {
  padding: 0px 30px 0px 30px;
}

.menuList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 7vw;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  justify-items: center;
}

.menuItem {
  /* cursor: pointer; */
  position: relative;
  white-space: nowrap;
}


.menuItem:hover {
  color: #ff5733;
}

.menuItem::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #ff5733;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.menuItem:hover::after {
  width: 100%;
}

.menuLink {
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.menuLink:hover {
  color: #ff5733;
  
}
.btn{
  grid-column :4;
  justify-self: start;
  padding-left: 15px ;
}

.icongrid{
  padding: 4px 0px 0px 0px ;
  grid-column : 3;
  justify-self: end;
  width: 45px;
}


@media(max-width : 1024px){
  .header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr; 

  }
    .logo{
      /* grid-area: logo; */
    }
    .icongrid{
      /* display: none; */
      /* grid-area: icon; */
    }
    .btn{
      /* display: none; */
      /* grid-area: btn; */
    }
    .navbar{
      /* display: none; */
      /* grid-area: list; */
      padding: 0px;
    }
    .menuList{
      gap: 4vw;
    }
    .menuLink {
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      color: black;
      transition: color 0.3s;
    }
}


@media(max-width : 768px){
  .headerGroup{
    /* margin-bottom: 20px; */
  }
  .header {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr; 

  }
    .logo{
      /* grid-area: logo; */
    }
    .icongrid{
      /* grid-area: icon; */
    }
    .btn{
      /* grid-area: btn; */
      padding: 0px;
    }
    .navbar{
      /* grid-area: list; */
      /* text-align: center; */
      /* justify-content: center; */
      padding: 0px;
    }
    .menuList{
      gap: 2vw;
    }
    .menuLink {
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      color: black;
      transition: color 0.3s;
    }
    .divider{
      min-width: 700px;
    }
}