/* MainHeader.module.css */
.headerGroup {
  padding: 0px 20px;
  background-color: #fff;
  margin-bottom: 50px;
  
}
.header {
  display: grid;
  grid-template-columns: 2fr 4fr 1.5fr 1fr; 
  align-items: center;
  justify-items: center;
  white-space: nowrap;
  
}

.navbar {
  padding: 0px 30px 0px 30px;
}

.menuList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 7vw;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  justify-items: center;
}

.menuItem {
  /* cursor: pointer; */
  position: relative;
  white-space: nowrap;
}


.menuItem:hover {
  color: #ff5733;
}

.menuItem::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #ff5733;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.menuItem:hover::after {
  width: 100%;
}

.menuLink {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.menuLink:hover {
  color: #ff5733;
  
}
.btn{
  grid-column :4;
  justify-self: start;
  padding-left: 15px ;
}

.icongrid{
  padding: 4px 0px 0px 0px ;
  grid-column : 3;
  justify-self: end;
  width: 45px;
}


@media(max-width : 1024px){
  .header {
    display: grid;
    grid-template: 
    "logo logo logo" 1fr
    "list icon btn" 1fr / 1fr 1fr 1fr;
  }
    .logo{
      grid-area: logo;
    }
    .icongrid{
      grid-area: icon;
    }
    .btn{
      grid-area: btn;
    }
    .navbar{
      grid-area: list;
    }
    .menuList{
      gap: 5vw;
    }
}


@media(max-width : 768px){
  .headerGroup{
    margin-bottom: 20px;
  }
  .header {
    display: grid;
    grid-template: 
    "... ... logo ... icon btn ... ..." 1fr
    "... ... list list list list ... ..." 1fr /20px 1fr 1fr 1fr 1fr 1fr 1fr 20px;
  }
    .logo{
      grid-area: logo;
    }
    .icongrid{
      grid-area: icon;
    }
    .btn{
      grid-area: btn;
    }
    .navbar{
      grid-area: list;
      text-align: center;
      justify-content: center;
    }
}