/* .main-grid{
    display: grid;
    grid-template:
        'header header header' 250px
        'section section section' 1fr
        'footer footer footer' 250px / 1fr 1fr 1fr;
    height: 100vh;
}

@media (max-width: 1024px) {
    .main-grid{
        display: grid;
        grid-template:
        'header header header' 250px
        'section section section' 1fr
        'footer footer footer' 250px / 1fr 1fr 1fr;
    
    }
}

@media (max-width: 760px) {
    .main-grid{
        display: grid;
        grid-template:
        'header header header' 250px
        'section section section' 1fr
        'footer footer footer' 250px / 1fr 1fr 1fr;

    }
}

.sub-grid{
    display: grid;
    grid-template:
        'subsection subsection subsection' 1fr / 1fr 1fr 1fr;
    
}

@media (max-width: 1024px) {
    .sub-grid{
        display: grid;
        grid-template:
        'subsection subsection subsection' 1fr / 1fr 1fr 1fr;
    
    }
}

@media (max-width: 760px) {
    .sub-grid{
        display: grid;
        grid-template:
        'subsection subsection subsection' 1fr / 1fr 1fr 1fr;

    }
}

.content-grid {
    display: grid;
    grid-template:
        'content content content' 1fr / 1fr 1fr 1fr;
}
 */
