 .main_grid {
    display: flex;
    flex-direction: column;  /* 세로 방향으로 배치 */
    height: auto; /* 화면 전체 높이 */
  }

  .header {
    height: auto; /* header 높이 */
  }

  .footer {
    height: 250px; /* footer 높이 */
  }

  .section {
    flex: 1; /* 남은 공간을 채움 */
    overflow-y: auto; /* 콘텐츠가 많을 경우 스크롤 */
  }



/* .main-grid{
    display: grid;
    grid-template:
        'header header header' 250px
        'section section section' 1fr
        'footer footer footer' 250px / 1fr 1fr 1fr;
    height: 100vh;
}

@media (max-width: 1024px) {
    .main-grid{
        display: grid;
        grid-template:
        'header header header' 250px
        'section section section' 1fr
        'footer footer footer' 250px / 1fr 1fr 1fr;
    
    }
}

@media (max-width: 760px) {
    .main-grid{
        display: grid;
        grid-template:
        'header header header' 250px
        'section section section' 1fr
        'footer footer footer' 250px / 1fr 1fr 1fr;

    }
}

.sub-grid{
    display: grid;
    grid-template:
        'subsection subsection subsection' 1fr / 1fr 1fr 1fr;
    
}

@media (max-width: 1024px) {
    .sub-grid{
        display: grid;
        grid-template:
        'subsection subsection subsection' 1fr / 1fr 1fr 1fr;
    
    }
}

@media (max-width: 760px) {
    .sub-grid{
        display: grid;
        grid-template:
        'subsection subsection subsection' 1fr / 1fr 1fr 1fr;

    }
}

.content-grid {
    display: grid;
    grid-template:
        'content content content' 1fr / 1fr 1fr 1fr;
}
 */

