#main-area {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* min-width: 650px; */
  margin: 0 auto;
}

#list-area {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}

.pagination button.active {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
}

.pagination button:hover {
  background-color: #f0f0f0;
}
