.subMenuBar {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr; /* 자동으로 항목을 맞추고 최소 150px 크기 */
  /*     grid-template: 으로 수정 예정 */
  gap: 20px; /* 각 항목 사이에 간격을 둡니다 */
  background-color: #fff;
  padding: 0px 0; /* 위, 아래 여백 */
  width: 100%;
}

.menuItem {
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.8vw; /* 기본적으로 뷰포트 너비에 비례하여 글자 크기 조정 */
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 700;
  text-align: center; /* 텍스트 중앙 정렬 */
  white-space: nowrap; /* 줄바꿈 방지 */
}
.divider{
  padding: 0px 20px;
}
.menuItem:hover {
  color: #F8755B;
}

.active {
  color: #F8755B;
}


@media (max-width: 1024px) {
  .menuItem {
    font-size: 2vw; 
  }
}

@media (max-width: 768px) {
  
  .menuItem {
    font-size: 2.2vw; 
  }
}
