.submenuwrap {
  margin: 50px 100px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.subMenuBar {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #444444;
  padding: 15px 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-align: center;
  white-space: nowrap;
  border-radius: 20px;
  margin: 0px;
}

.menuItem:hover {
  color: #000; /* 텍스트 색상 */
  background-color: #fdf8e8; /* 마우스 오버시 배경색 */
}

.subMenuBar .menuItem.active {
  color: #000; /* 클릭된 메뉴의 텍스트 색상 */
  background-color: #fdf8e8; /* 클릭된 메뉴의 배경색 */
  border-radius: 20px; /* 선택된 메뉴의 둥근 테두리 */
}

/* 모바일 화면 크기에 맞춘 레이아웃 조정 */
@media (max-width: 768px) {
  .submenuwrap {
    min-width: 500px;
  }
}